/*****************************************************/

div.aide_hover
{
	position:absolute;
	right:-100px;
	top: -12px;
	
	cursor: help;
	align-items: center;
	text-decoration: none;
	color: rgba(34, 34, 34, 1);
	outline: none;

}

/* Cadre dynamique d'aide et d'info*/
div.aide_hover span
{
	text-align: justify;
    text-justify: inter-word;

	visibility: hidden;
	
	position: absolute;
	top: -87px;
	left: 50px;
	
	z-index: 1500;
	width: 300px;
	height: 176px;
	padding: 10px;
	border: 2px solid rgba(204, 204, 204, 1);
	opacity: .9;
	background-color: rgba(221, 221, 221, 1);
	background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
	-moz-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
	text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

/* Lorsque les tooltips sont survolés, les spans s'affiche*/
div.aide_hover:hover span, div.tooltip_projet:hover span
{
	visibility: visible;
}

/* Ajout des flèches triangulaire du span*/
div.aide_hover span:before,
div.aide_hover span:after
{
	content: "";
	position: absolute;
	z-index: 1000;
	top: 50%;
	left: -10px;
	border-bottom: 8px solid transparent;
	border-left: 0;
	border-right: 8px solid #ccc;
	border-top: 8px solid transparent;

}